

 <div class="container mt-5">
        <center>
            <h1>Edit Team</h1>
        </center>
        
        <%= render 'form' %>
        
        <%= link_to 'Cancel', teams_path, class: 'btn btn-secondary mt-3' %>
    </div>
