
<div class="container mt-5">
  <div class="text-center">
    <h1>Edit Team</h1>
  </div>

  <%= render 'form' %>

  <div class="text-center mt-3">
    <%= link_to 'Cancel', teams_path, class: 'btn btn-secondary' %>
  </div>

     
</div>
