<div class="d1">
        <div class="text-white fw-bold p-5 fs-1">
          T20 World Cup 
        </div>
    </div>

    <div class="  sticky-top bg-dark">
       <div class="container d-flex justify-content-end">
   

        <nav class="nav">
            <a href="teams.html" class="nav-link" >Teams</a>
        </nav>

      
        <nav class="nav">
            <a href="players.html" class="nav-link">Players</a>
        </nav>

       </div>
     </div>
<div class="container mt-5">
  <div class="text-center">
    <h1>Edit Team</h1>
  </div>

  <%= render 'form' %>

  <div class="text-center mt-3">
    <%= link_to 'Cancel', teams_path, class: 'btn btn-secondary' %>
  </div>
  
                <%= link_to 'Go Back to Home', root_path, class: 'btn btn-secondary' %>
     
</div>
