
<h1 class="text-center">New Team</h1>

<div class="container mt-5">

  <%= render 'form' %>

  <div class="text-center mt-3">
    <%= link_to 'Cancel', teams_path, class: 'btn btn-secondary' %>
  </div>

   
</div>
