<div class="d1">
        <div class="text-white fw-bold p-5 fs-1">
          T20 World Cup 
        </div>
    </div>

    <div class="  sticky-top bg-dark">
       <div class="container d-flex justify-content-end">


        <nav class="nav">
            <a href="teams.html" class="nav-link" >Teams</a>
        </nav>

        <nav class="nav">
            <a href="contact.html" class="nav-link">Contact</a>
        </nav>


       </div>
     </div>
<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>Edit Player</h1>
  </div>

  <%= render 'form', player: @player %>

  <div class="text-center mt-3">
    <%= link_to 'Back', players_path, class: 'btn btn-secondary' %>
  </div>
       <%= link_to 'Go Back to Home', root_path, class: 'btn btn-secondary' %>
       
</div>
