<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>Edit Match</h1>
  </div>

  <%= render 'form', match: @match %>

  <div class="text-center mt-3">
    <%= link_to 'Back', matches_path, class: 'btn btn-secondary' %>
  </div>
       <%= link_to 'Go Back to Home', root_path, class: 'btn btn-secondary' %>
       
</div>
