<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Main Page</h1>
    <p class="lead">
      <h3>
        <%= link_to 'Go to Teams', teams_path, class: 'btn btn-secondary' %>
      </h3> | 
      <h3>
        <%= link_to 'Go to Players', players_path, class: 'btn btn-secondary' %>
      </h3>
    </p>
  </div>
</div>