<div class="container">
  <div class="alert alert-success text-center" role="alert">
   <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  </div>
</div>
